<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='src/irrigacao.png')}}" type="image/x-icon">
    <title>Sistema de irrigação</title>
  </head>
  <body>
    <main>
      <div class="wrapper">

        <h1>Sistema de irrigação</h1>
        <div class="container">
          <div class="monitoring">
            <div class="message-humidity">

              <h2>A umidade aferida é de : </h2>
              <h2 class="humidity">{{ name }}</h2>
            </div>
             
            <button>Atualizar</button>
          </div>

          <div class="control">
            <form action="/open" method="POST">

              <button class="button-open">Abrir irrigação</button>
            </form>

            <form action="/close" method="POST">
              
              <button class="button-close">Fechar Irrigação</button>
            </form>
          </div>
        </div>

        <h3>Ultima aferição feita há 0 segundos </h3>
      </div>
    </main>

    <script src="{{ url_for('static', filename='index.js')}}" ></script>
  </body>
</html>
